<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
	<nav th:fragment="leftSidebar(categories)" class="col-md-2 m-0 p-0 leftSidebar" id="leftSidebar">
	<div class="leftSidebarMenu my-3">
		<h1>カテゴリー</h1>
		<ul>
			<li th:each="category : ${categories}">
				<a th:href="@{/threads/threadsCategory/{categoryId}(categoryId=${category.id})}" th:text="${category.name}">SF/ファンタジー</a>
			</li>
		</ul>
		<div class="text-center">
			<script type="text/javascript">
				rakuten_design="slide";rakuten_affiliateId="20bcb4b4.e1eb0471.20bcb4b5.543e71b6";rakuten_items="ranking";rakuten_genreId="0";rakuten_size="200x350";rakuten_target="_blank";rakuten_theme="gray";rakuten_border="off";rakuten_auto_mode="on";rakuten_genre_title="off";rakuten_recommend="on";rakuten_ts="1675398203714";
			</script>
			<script type="text/javascript" src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js"></script>
		</div>
	</div>
	</nav>
</body>
</html>