<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
	<nav th:fragment="leftSidebar(categories)" class="col-md-2 m-0 p-0 leftSidebar" id="leftSidebar">
	<div class="leftSidebarMenu my-3">
		<h1>カテゴリー</h1>
		<ul>
			<li th:each="category : ${categories}">
				<a th:href="@{/threads/threadsCategory/{categoryId}(categoryId=${category.id})}" th:text="${category.name}">SF/ファンタジー</a>
			</li>
		</ul>
	</div>
	</nav>
</body>
</html>