<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
	<nav th:fragment="rightSidebar(animeTitles)" class="col-md-2 m-0 p-0 rightSidebar">
		<div class="rightSidebarMenu">
			<form th:action="@{/threads/threadTitle}" method="get" class="my-3">
				<p><label>キーワード検索</label></p>
				<div class="text-nowrap">
					<input type="text"  th:name="@{keyword}">
					<button>検索</button>
				</div>
			</form>
			<h1>タイトル</h1>
			<li th:each="animeTitle : ${animeTitles}">
				<a th:href="@{/threads/threadsAnimeTitle/{animeTitleId}(animeTitleId=${animeTitle.id})}" th:text="${animeTitle.name}">アニメタイトル</a>
			</li>
		</div>
	</nav>
</body>
</html>