<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  th:replace="~{layout/base :: layout(~{::title}, ~{::link}, ~{::body/content()})}"
>
<head>
<meta charset="UTF-8">
<title>あ2ちゃんねる-トーク</title>
<link />
</head>
<body>
	<div th:replace="~{layout/header :: header}" class="w-100"></div>
	<div class="row m-0">
		<div class="col-md-8 m-0 p-0 originalBackColor" th:object="${chat}">
		<h1 class="ml-5">トークルーム</h1>
		<h1><a th:href="@{/chats}">戻る</a></h1>
		<div th:replace="fragments :: message"></div>
		<div class="detail">
			<div class="w-100">
			</div>
		</div>
		<div class="comment">
			<div class="w-100" th:each="chat : ${chats}">
				<ul class="">
					<li th:text="${#temporals.format(chat.dateTime, 'yyyy/MM/dd HH:mm')}">日付</li>
					<li th:text="${chat.user.name}">ユーザー名</li>
					<li th:text="${chat.contents}">チャット内容</li>
				</ul>
			</div>
		</div>
		<div class="w-75 mx-auto mt-3">
			<form th:action="@{/chats/create}" method="post" th:object="${chat}">
				<input type="hidden" name="_csrf" value="33c7b13f-f3e2-44de-b0b1-eadb5e6ffbdb">
				<input type="hidden" name="followId" th:value="${id}">
				<label for="chatContents">メッセージ</label>
				<input type="text" id="chatContents" class="w-50" th:field="*{contents}">
				<button>送信</button>
			</form>
		</div>

	</div>
	</div>
	<script>
		var url = document.getElementsByName('url');
		var a = location.pathname;
		console.log(url);
		url.forEach(function(e) {
			e.setAttribute("value", a);
		})
	</script>

</body>

</html>