<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  th:replace="~{layout/base :: layout(~{::title}, ~{::link}, ~{::body/content()})}"
>
<head>
<meta charset="UTF-8">
<title>あ2ちゃんねる-登録</title>
<link />
</head>
<body>
<div th:replace="~{layout/header :: header}" class="w-100"></div>
	<div>
		<h1 class="ml-5">新規ユーザー登録</h1>
		<div class="login-form p-3">
			<form action="" method="get">

				<div class="login-form-registar">
					<div class="text-nowrap">
						<label for="username">ユーザー名</label>
						<input type="text" id="username" name="username" required="required">
					</div>

					<div class="text-nowrap">
						<label for="email">メールアドレス</label>
						<input type="email" id="email" name="email" required="required">
					</div>

					<div class="text-nowrap">
						<label for="password">パスワード</label>
						<input type="password" id="password" name="password" required="required">
					</div>

					<div class="text-nowrap">
						<label for="confirm">確認パスワード</label>
						<input type="password" id="confirm" name="confirm" required="required">
					</div>

					<div class="text-nowrap">
						<label for="self" class="m-auto">自己紹介</label>
						<textarea name="self" id="self"></textarea>
					</div>
				</div>

				<label for="self">興味のあるジャンル</label>
				<div class="registration">
					<label for="SF">SF/ファンタジー</label>
					<input type="checkbox" value="SF/ファンタジー" id="SF">

					<label for="SF">SF/ファンタジー</label>
					<input type="checkbox" value="SF/ファンタジー" id="SF">

					<label for="SF">SF/ファンタジー</label>
					<input type="checkbox" value="SF/ファンタジー" id="SF">

					<label for="SF">SF/ファンタジー</label>
					<input type="checkbox" value="SF/ファンタジー" id="SF">

					<label for="SF">SF/ファンタジー</label>
					<input type="checkbox" value="SF/ファンタジー" id="SF">

					<label for="SF">SF/ファンタジー</label>
					<input type="checkbox" value="SF/ファンタジー" id="SF">
				</div>

				<div class='text-center'>
					<button class="btn-design">登録</button>
				</div>

			</form>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/componentNone.js}"></script>
</body>
</html>