<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:replace="~{layout/base :: layout(~{::title}, ~{::link}, ~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>あ2ちゃんねる-トップ</title>
<link />
</head>
<body>
	<div th:replace="~{layout/header :: header}" class="w-100"></div>
	<div class="row m-0">
		<div th:replace="~{layout/leftSidebar :: leftSidebar(${categories})}"></div>
		<div class="col-md-8 m-0 p-0">
			<h1>マイページ</h1>
			<div th:replace="fragments :: message"></div>
			<div class="m-3">
				<div class="row w-100 m-0">
					<div class="col-md-11 mypage">
						<p class="my-2 text-center"><label class="bg-light">ユーザー名 </label> <span class="bg-info w-50" th:text="${user.name}"></span></p>

						<p class="my-2 text-center"><label class="bg-light">メールアドレス</label> <span class="bg-info w-50" th:text="${user.email}"></span></p>
					</div>

					<div class="col-md-1 h-100 my-auto">
							<a class="btn btn-success btn-sm m-1" th:href="@{/users/edit/{id}(id=${user.id})}">編集</a>

					<!--  <div class="col-md-1 h-100 my-auto" th:if="${user.id} == ${#authentication.principal.user.id}">
						<a class="update-btn" id="update">更新</a>
					</div>-->
				</div>

				<div class="mypage-genre">
					<h3>興味のあるジャンル</h3>
					<ul class="w-100 mypage-genre" th:each="userCategory : ${user.userCategories}">
						<li th:text="${userCategory.category.name}">ジャンル</li>
					</ul>
				</div>

				<div class="row mypage-thredCell">
					<div class="col-md-6">
						<h3>投稿したスレ</h3>
						<ul class="w-100 list-unstyled" th:each="thread : ${user.threadList}">
							<li th:text="${thread.title}">スレ１</li>
						</ul>
					</div>

					<div class="col-md-6">
						<h3>コメントしたスレ</h3>
						<ul class="w-100 list-unstyled" th:each="commentThread : ${user.commentList}">
							<li th:text="${commentThread.threads.title}">スレ１</li>
						</ul>
					</div>
				</div>

				<div class="row mypage-thredCell">
					<div class="col-md-6">
						<h3>フォロー</h3>
						<ul class="w-100 list-unstyled" th:each="follow : ${follows}">
							<li th:text="${follow.follower.name}">ユーザー</li>
						</ul>
					</div>

					<div class="col-md-6">
						<h3>ブロック</h3>
						<ul class="w-100 list-unstyled" th:each="block : ${blocks}">
							<li th:text="${block.blockUser.name}">ユーザー</li>
						</ul>
					</div>
				</div>


				<div class="mt-3 w-100">
					<form th:action="@{/logout}" method="post">
						<div class='text-center'>
							<input type="submit" value="ログインアウト" class="btn-design">
						</div>
					</form>
				</div>

				<div class="update-form" id="userUpdate">
					<form action="" method="get">
						<div class="m-5">
							<h1>ユーザー情報更新</h1>
							<div class="text-nowrap my-1">
								<label for="update-form-name">ユーザー名</label>
								<input type="text" id="update-form-name" value="ユーザー名">
							</div>

							<div class="text-nowrap my-1">
								<label for="update-form-email">メールアドレス</label>
								<input type="email" id="update-form-email" value="xxxx@gmail.com">
							</div>

							<div class="text-nowrap my-1">
								<label for="update-form-mind">自己紹介</label>
								<textarea id="update-form-mind"></textarea>
							</div>
							<br>
							<h3>興味のあるジャンル</h3>
							<span style="white-space: nowrap;" th:each="i : ${#numbers.sequence(0,5,1)}"><input type="checkbox" id="SF/ファンタジー"><label for="SF/ファンタジー">SF/ファンタジー</label></span>


							<div class="text-center">
								<button>保存</button>
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
		</div>
		<div th:replace="~{layout/rightSidebar :: rightSidebar(${animeTitles})}"></div>

</body>
</html>