<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:replace="~{layout/base :: layout(~{::title}, ~{::link}, ~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>あ2ちゃんねる-トップ</title>
<link />
</head>
<body>
	<div th:replace="~{layout/header :: header}" class="w-100"></div>
	<div class="row m-0">
		<div th:replace="~{layout/leftSidebar :: leftSidebar(${categories})}"></div>
		<div class="col-md-8 m-0 p-0">
			<h1>マイページ</h1>
			<div th:replace="fragments :: message"></div>
			<div class="m-auto w-75 p-3" style="background-color: rgb(245,245,245);">
				<div class="row w-100 mb-5 mx-0 text-nowrap">
					<div class="mypage">
						<h3>ユーザー情報</h3>
					<div class="d-flex w-75 mx-auto">
						<table class="text-left w-75 change-Font">
							<tr class="w-100">
								<td class="text-nowrap">ユーザー名 </td>
								<td th:text="${user.name}"></td>
							</tr>

							<tr>
								<td>アドレス</td>
								<td th:text="${user.email}"></td>
							</tr>
						</table>
						<div class="col-md-1 h-100 my-auto" th:if="${user.id} == ${#authentication.principal.user.id}"><a class="btn btn-success btn-sm m-1 text-light" id="update">更新</a></div>

					<!--
						<div><a class="btn btn-success btn-sm m-1" th:if="${user.id} == ${#authentication.principal.user.id}" th:href="@{/users/edit/{id}(id=${user.id})}">編集</a></div>
					-->
					</div>
				</div>


				<div class="mypage-genre">
					<h3 class="w-100">興味のあるジャンル</h3>
					<ul class="w-100 change-Font">
						<li  th:each="userCategory : ${user.userCategories}"><span th:text="${userCategory.category.name}"></span></li>
					</ul>
				</div>

				<div class="row mypage-thredCell">
					<div class="col-md-6">
						<h3>投稿したスレ</h3>
						<ul class="w-100 list-unstyled change-Font" th:each="thread : ${user.threadList}">
							<li th:text="${thread.title}"></li>
						</ul>
					</div>

					<div class="col-md-6">
						<h3>コメントしたスレ</h3>
						<ul class="w-100 list-unstyled change-Font" th:each="commentThread : ${user.commentList}">
							<li th:text="${commentThread.threads.title}"></li>
						</ul>
					</div>
				</div>

				<div class="row mypage-thredCell">
					<div class="col-md-6">
						<h3>フォロー</h3>
						<ul class="w-100 list-unstyled change-Font" th:each="follow : ${follows}">
							<li th:text="${follow.follower.name}"></li>
						</ul>
					</div>

					<div class="col-md-6">
						<h3>ブロック</h3>
						<ul class="w-100 list-unstyled change-Font" th:each="block : ${blocks}">
							<li th:text="${block.blockUser.name}"></li>
						</ul>
					</div>
				</div>

				<div class="mt-3 w-100" th:if="${user.id} == ${#authentication.principal.user.id}">
					<form th:action="@{/logout}" method="post">
						<div class='text-center'>
							<input type="submit" value="ログアウト" class="btn-design">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div id="userUpdate">
			<form th:action="@{/users/save2}" method="post" th:object="${user}" class="m-3">
				<input type="hidden" th:field="*{id}">
				<div class="form-group row">
					<label class="col-md-2">ユーザー名</label>
					<div class="col-sm-10">
						<input type="text" placeholder="ユーザー名" th:field="*{name}">
					</div>
				</div>

				<div class="form-group row">
					<label class="col-md-2">メールアドレス</label>
					<div class="col-sm-10">
						<input type="email" placeholder="メールアドレス" th:field="*{email}">
					</div>
				</div>

				<div class="form-group row">
					<label class="col-md-2">パスワード</label>
					<div class="col-sm-10">
						<input type="password" placeholder="パスワード" th:field="*{password}">
					</div>
				</div>

				<div class="form-group row">
					<label class="col-md-2 mx-0 my-auto">興味のある<br>ジャンル</label>
					<ul class="col-md-10 d-flex flex-wrap row">
						<li th:each="category : ${categories}" class="text-nowrap listStyleCss col-md-4">
							<input class="m-1" type="checkbox" name="userCategories" th:value="${category.id}" th:checked="${false}" th:id="${category.name}">
							<label class="m-1" th:for="${category.name}" th:text="${category.name}"></label>
						</li>
					</ul>
				</div>

				<div class="btn-toolbar">
					<div class="ml-2">
						<a class="btn btn-secondary waves-effect waves-light"
							th:href="@{/users/mypage/{id}(id=${user.id})}">戻る</a>
					</div>
					<div class="ml-auto mr-2">
						<button class="btn btn-primary waves-effect waves-light">アップデート</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div th:replace="~{layout/rightSidebar :: rightSidebar(${animeTitles})}"></div>
</body>
</html>