<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  th:replace="~{layout/base :: layout(~{::title}, ~{::link}, ~{::body/content()})}"
>
<head>
<meta charset="UTF-8">
<title>あ2ちゃんねる-スレ</title>
<link />
</head>
<body>
	<div th:replace="~{layout/header :: header}" class="w-100"></div>
	<div class="row m-0">
		<div th:replace="~{layout/leftSidebar :: leftSidebar(${categories})}"></div>
		<div class="col-md-8 m-0 p-0 originalBackColor" th:object="${thread}">
		<h1><a th:href="@{/threads}">戻る</a></h1>
		<div th:replace="fragments :: message"></div>
		<div class="detail">
			<div class="w-100">
			</div>
		</div>
		<div class="comment">
			<div class="w-100" th:each="comment1 : ${comments}">
			</div>
		</div>
		<div class="w-75 mx-auto mt-3">
			<form th:action="@{/comment/create}" method="post" th:object="${chat}">
				<input type="hidden" name="_csrf" value="33c7b13f-f3e2-44de-b0b1-eadb5e6ffbdb">
				<input type="hidden" name="threadId">
				<label for="chatContent">コメント</label>
				<input type="text" id="chatContent" class="w-50" th:field="*{chat}">
				<button>送信</button>
			</form>
		</div>

	</div>
	<div th:replace="~{layout/rightSidebar :: rightSidebar(${animeTitles})}"></div>
	</div>
	<script>
		var url = document.getElementsByName('url');
		var a = location.pathname;
		console.log(url);
		url.forEach(function(e) {
			e.setAttribute("value", a);
		})
	</script>


</body>

</html>