<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  th:replace="~{layout/base :: layout(~{::title}, ~{::link}, ~{::body/content()})}"
>
<head>
<meta charset="UTF-8">
<title>あ2ちゃんねる-登録</title>
<link />
</head>
<body>
<div th:replace="~{layout/header :: header}" class="w-100"></div>
	<div>
		<h1 class="ml-3">新規ユーザー登録</h1>
		<div class="login-form p-3">
			<form th:action="@{/users/save}" method="post" th:object="${user}">

				<div class="login-form-registar">
					<div class="text-nowrap">
						<label for="username">ユーザー名</label>
						<input type="text" placeholder="ユーザー名" th:field="*{name}" required="required">
					</div>

					<div class="text-nowrap">
						<label for="email">メールアドレス</label>
						<input type="email" placeholder="メールアドレス" th:field="*{email}" required="required">
					</div>

					<div class="text-nowrap">
						<label for="password">パスワード</label>
						<input type="password"placeholder="パスワード" th:field="*{password}" required="required">
					</div>

					<div class="text-nowrap">
						<label for="confirm">確認パスワード</label>
						<input type="password" id="confirm" name="confirm" required="required">
					</div>

					<div class="text-nowrap">
						<label for="self" class="m-auto">自己紹介</label>
						<textarea name="self" id="self" placeholder="自己紹介を入力してください"></textarea>

					</div>
				</div>

				<label for="self">興味のあるジャンル</label>
				<div class="registration">
					<label for="SF">SF/ファンタジー</label>
					<input type="checkbox" value="SF/ファンタジー" id="SF">

					<label for="ロボット/メカ">ロボット/メカ</label>
					<input type="checkbox" value="ロボット/メカ" id="ロボット/メカ">

					<label for="アクション/バトル">アクション/バトル</label>
					<input type="checkbox" value="アクション/バトル" id="アクション/バトル">

					<label for="コメディ/ギャグ">コメディ/ギャグ</label>
					<input type="checkbox" value="コメディ/ギャグ" id="コメディ/ギャグ">

					<label for="恋愛/ラブコメ">恋愛/ラブコメ</label>
					<input type="checkbox" value="恋愛/ラブコメ" id="恋愛/ラブコメ">

					<label for="日常/ほのぼの">日常/ほのぼの</label>
					<input type="checkbox" value="日常/ほのぼの" id="日常/ほのぼの">

					<label for="スポーツ/競技">スポーツ/競技</label>
					<input type="checkbox" value="スポーツ/競技" id="スポーツ/競技">

					<label for="ホラー/サスペンス/推理">ホラー/サスペンス/推理</label>
					<input type="checkbox" value="ホラー/サスペンス/推理" id="ホラー/サスペンス/推理">

					<label for="歴史/戦記">歴史/戦記</label>
					<input type="checkbox" value="歴史/戦記" id="歴史/戦記">

					<label for="戦争/ミリタリー">戦争/ミリタリー</label>
					<input type="checkbox" value="戦争/ミリタリー" id="戦争/ミリタリー">

					<label for="ドラマ/青春">ドラマ/青春</label>
					<input type="checkbox" value="ドラマ/青春" id="ドラマ/青春">

					<label for="キッズ/ファミリー">キッズ/ファミリー</label>
					<input type="checkbox" value="キッズ/ファミリー" id="キッズ/ファミリー">

					<label for="ショート">ショート</label>
					<input type="checkbox" value="ショート" id="ショート">

					<label for="ライブ/ラジオ/etc">ライブ/ラジオ/etc</label>
					<input type="checkbox" value="ライブ/ラジオ/etc" id="ライブ/ラジオ/etc">

				</div>

				<div class='text-center'>
					<input type="submit" value="新規登録" class="btn-design">
				</div>

			</form>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/componentNone.js}"></script>
</body>
</html>