/* ------------- 共通 ------------- */
h1 {
	font-size: x-large;
}

h2 {
	font-size: large;
}

h3 {
	font-size: medium;
}

.btn-design{
	padding: 5px;
	margin:5px 0;
	border-radius: 15px;
	width:30%;
	border: 1px solid rgb(183,231,251);
	color:rgb(183,231,251);
	background-color:white;
	transition: all 0.5s 0s ease;
	box-shadow: 1px 1px 5px fuchsia;
}

.btn-design:hover{
	background-color:blue;
	color:white;
	cursor: pointer;
	box-shadow: 1px 1px 5px orange;
}

/* ------------- ヘッダー ------------- */
.menu {
	background-color: rgb(255, 255, 240);
}

.header .menu {
	border-top: 1px solid;
}

.account-form {
	text-align: right;
	padding: none;
}

.account-form a {
	margin: 0 12px;
}

.header ul {
	margin: 0;
	padding: 0;
}

.header ul li, .sled ul li {
	display: inline;
	list-style: none;
	padding: 0 10px;
}

.logined-form {
	display: none
}

/* ------------- 左サイドバー ------------- */
@media screen and (max-width:480px) {
	.leftSidebarMenu {
		display: none
	}
}

@media screen and (min-width:480px) {
	.leftSidebar {
		min-height:100vh;
		padding-bottom: 10000px;
		margin-bottom: -10000px;
		background-color: rgb(222, 235, 247);
	}
	.leftSidebarMenu {
		width: 80%;
		margin: 0 auto;
	}
	.leftSidebarMenu li {
		list-style: none;
		margin: 5px 0;
		font-size: medium;
	}
	.leftSidebarMenu li:hover {
		background-color: rgb(135, 206, 250);
	}
}

/* ------------- 右サイドバー ------------- */
@media screen and (max-width:480px) {
	.rightSidebarMenu {
		height: 100vh;
		display: none
	}
}

@media screen and (min-width:480px) {
	.rightSidebar {
		min-height:100vh;
		padding-bottom: 10000px;
		margin-bottom: -10000px;
		background-color: rgb(222, 235, 247);
	}
	.rightSidebarMenu {
		width: 80%;
		margin: 0 auto;
	}
	.rightSidebar p, .rightSidebar label {
		margin: 0;
	}
	.rightSidebarMenu button {
		border-radius: 25% 10%;
		color: #fff;
		background-color: rgb(135, 206, 235);
	}
	.rightSidebarMenu button:focus {
		background-color: rgb(0, 191, 255);
	}
	.rightSidebarMenu a {
		white-space: nowrap;
		font-size: small;
	}
}

/* ------------- とっぷページ ------------- */
.newAdd {
	background-color: rgb(65, 113, 156);
	color: white;
	border-radius: 50px;
	padding: 5px 15px;
	margin: 1px 10px;
	transition: .5s cubic-bezier(0.45, 0, 0.55, 1);
}

.newAdd:hover {
	background-color: white;
	color: rgb(65, 113, 156);
	border: solid rgb(65, 113, 156);
	transform: scale(2, 2);
}

.sled {
	margin: 0;
	padding: 5px 15px;
	width: 100%;
}

@media screen and (max-width:480px) {
	.sled-innner {
		width: 100%;
		height: 500px;
		border-radius: 15px;
		border: 1px solid grey;
		margin: 0 0 0 5px;
		transition: .5s cubic-bezier(0.45, 0, 0.55, 1);
	}
}
@media screen and (min-width:480px) {
	.sled-innner {
		width: 100%;
		height: 250px;
		border-radius: 15px;
		border: 1px solid grey;
		margin: 0 0 0 5px;
		transition: .5s cubic-bezier(0.45, 0, 0.55, 1);
	}
}

.sled-image {
	width: 100%;
	max-height: 250px;
	padding: none;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sled-image img {
	width: 99%;
	max-height: 95%;
	object-fit: contain;
}

.sled-innner:hover {
	box-shadow: 0 0 5px 5px aqua;
}

.text-hidden {
	height: 150px;
	overflow-y: scroll;
}

.sled-info {
	width: 100%;
	text-align: right;
	vertical-align: bottom;
	padding: 5px 5px 0 0;
}

/* ------------- カテゴリー一覧 ------------- */

.category-page{
	margin: 0;
	padding: 0;
}

.category-page-child{
	padding: 10px;
	margin: 30px;
	box-shadow: 0 1px 10px blue;
	border: 1px solid;
	border-radius:15px;
}

.category-choise{
	background-color:rgb(183,231,251);
	transition: all 0.5s 0s ease;
	margin:5px 0;
	padding:15px 5px;
	text-align: center;
}

.category-choise:hover{
	background-color:aqua;
	transform: scale(1.2, 1.2);
}

/* ------------- ログイン-新規登録 ------------- */

@media screen and (min-width:480px){
	.login-form{
		margin-right:auto;
		margin-left:auto;
		margin-top:100px;
		width: 40%;
		text-align: center;
		background: rgb(189,215,238);
		box-shadow: 1px 1px 3px black;
		border-radius: 30px;
	}
}
@media screen and (max-width:480px){
	.login-form{
		margin: auto;
		width: 70%;
		text-align: center;
		background: rgb(189,215,238);
		box-shadow: 1px 1px 3px black;
		border-radius: 15px;
		}
}

input::placeholder{
	font-size: x-small;
}

.login-form-registar label,.login-form-registar input,.login-form-registar textarea{
	width: 40%;
}

.registration{
	float:left;
}


/* ------------- スレ投稿画面 ------------- */
.thredPosting{
	margin: 15px;
	padding: 5px;
	border: 1px solid;
	text-align: center;
	border-radius: 30px;
}


/* ------------- マイページ ------------- */

.mypage{
	border: 1px solid grey;
	padding: 0;
}

.mypage-thredCell{
	width:100%;
	text-align: center;
	margin: 10px 0;
	padding: 0 10px;

}

.mypage-thredCell ul,.mypage-thredCell h3{
	margin: 0;
}

.mypage-thredCell h3{
	background-color: rgb(179,240,255);
	color: rgb(250,180,95);
}

.mypage-genre{
	padding: 10px;
	background-color: rgb(230,230,230);
}

.mypage-genre ul{
	display: flex;
	margin :0;
	width: 100%;
}

.mypage-genre li{
	list-style: none;
	margin: 0 5px;
}

.mypage-thredCell span{
	width: 100%;
	margin:0;
	padding: 5px;
}

#update{
	cursor: pointer;
}

.update-form{
	margin: auto;
	width: 50%;
	border-radius: 15px;
	background-color: rgb(214,255,247);
}

.update-form label{
	width: 30%;
	font-size: small;
	height: 100%;
	margin: auto;
}

#userUpdate{
	height:40%;
	position: absolute;
	top: 10px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/* ------------- スレッド詳細 ------------- */

.detail{
	margin:5px auto 0 auto;
	padding-bottom:3px;
	width:75%;
	background-color: rgb(240,240,240);
}

.comment{
	margin:0 auto 2px auto;
	width:75%;
	height:500px;
	overflow-y: scroll;
	border-bottom:solid gray;
	border-top:solid gray;
	background-color: rgb(240,240,240);
	font-size: small;
}

.detail ul, .comment ul{
	display:flex;
	margin: 0;
	justify-content: flex-end;
}

.detail ul li ,.comment ul li{
	list-style: none;
	border-left:solid 1px;
	padding: 0 5px;
}

/* ------------- おすすめユーザー ------------- */

.recommend{
	width: 85%;
	margin:10px auto;
	display: flex;
	box-shadow: 1px 1px 3px gray;
	font-size: x-small;
	transition: all 0.5s 0s ease;
}

.recommend:hover{
	transform:scale(1.2,1.5);
	font-size: medium;
	background-color: white;
}

.recommend ul{
	display: flex;
	flex-flow:wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}

.recommend ul li{
	margin: auto 5px;
	font-size:x-small;
}

