<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  th:replace="~{layout/base :: layout(~{::title}, ~{::link}, ~{::body/content()})}"
>
<head>
<meta charset="UTF-8">
<title>あ2ちゃんねる-トップ</title>
<link />
</head>
<body>
	<div th:replace="~{layout/header :: header}" class="w-100"></div>
	<div class="row m-0">
		<div th:replace="~{layout/leftSidebar :: leftSidebar(${categories})}"></div>
	<div class="col-md-8 m-0 p-0">
		<div class="mb-3">
			<h1 class="m-0"><a th:href="@{/categories}">カテゴリー</a> > <span th:text="${category.name}"></span></h1>
		</div>

		<div class="sled">
			<div class="w-100 my-2">
				<div class="w-100 text-right">
					<form th:action="@{/threads/threadsCategory/{categoryId}(categoryId=${category.id})}" method="get" class="selectBox-top">
						<select name="order" id="select-order" class="w-25">
							<option disabled selected>並べ替え</option>
							<option value="最新">最新順</option>
							<option value="コメント数" >コメント数</option>
						</select>
					</form>
				</div>
			</div>

			<div class="row sled-innner" th:each="thread : ${threads}">
				<div class="col-md-4 sled-image">
					<img alt="sample" th:src="@{/images/usagi.png}">
				</div>
				<div class="col-md-8 p-0">
					<a th:href="@{~/threads/detail/{id}(id=${thread.id})}">
						<h2 th:text="${thread.title}"></h2>
					</a>
					<div class="text-hidden">
						<h3 th:text="${thread.comment}"></h3>
					</div>
					<div class="sled-info">
						<ul class="m-0">
							<li th:text="${thread.user.name}"></li>
							<li th:text="${thread.commentSum}"></li>
							<li th:text="${thread.dateTime}">4</li>
						</ul>
						<ul class="m-0">
							<li class="text-info" th:text="${thread.category.name}"></li>
							<li class="text-" th:text="${thread.animeTitle.name}"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="~{layout/rightSidebar :: rightSidebar(${animeTitles})}"></div>
	</div>
</body>
</html>