<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  th:replace="~{layout/base :: layout(~{::title}, ~{::link}, ~{::body/content()})}"
>
<head>
<meta charset="UTF-8">
<title>あ2ちゃんねる-スレ</title>
<link />
</head>
<body>
	<div th:replace="~{layout/header :: header}" class="w-100"></div>
	<div class="row m-0">
		<div th:replace="~{layout/leftSidebar :: leftSidebar(${categories})}"></div>
		<div class="col-md-8 m-0 p-0" th:object="${thread}">
		<h1><a th:href="@{/threads}">戻る</a>→<span th:text="${thread.title}"></span><span th:text="${userName}"></span></h1>

		<div class="detail">
			<div class="w-100">
				<ul class="">
					<li th:text="${#temporals.format(thread.dateTime, 'yyyy/MM/dd HH:mm:ss')}">日付</li>
					<li th:text="${thread.user.name}">ユーザー名</li>
					<li><a href="">フォロー</a></li>
					<li><a href="">ブロック</a></li>
				</ul>
				<p th:text="'1.'+ ${thread.comment}"></p>
			</div>
		</div>
		<div class="comment">
			<div class="w-100" th:each="comment : ${comments}">
				<ul class="mr-1">
					<li th:text="${#temporals.format(comment.dateTime, 'yyyy/MM/dd HH:mm:ss')}"></li>
					<li th:text="${comment.user.name}">ユーザー名</li>
					<li><a href="">フォロー</a></li>
					<li><a href="">ブロック</a></li>
				</ul>
				<p class="my-1" th:text="${comment.content}"></p>
				<a th:href="@{/comment/delete/{id}(id=${comment.id})}">削除</a>
			</div>
		</div>
		<div class="w-75 mx-auto mt-3">
			<form th:action="@{/comment/create}" method="post" th:object="${comment}">
				<input type="hidden" name="_csrf" value="33c7b13f-f3e2-44de-b0b1-eadb5e6ffbdb">
				<input type="hidden" name="threadId" th:value="${thread.id}">
				<label for="thredComment">コメント</label>
				<input type="text" id="thredComment" class="w-50" th:field="*{content}" required="required">
				<button>送信</button>
			</form>
		</div>
	</div>
	<div th:replace="~{layout/rightSidebar :: rightSidebar(${animeTitles})}"></div>
	</div>


</body>
</html>