<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  th:replace="~{layout/base :: layout(~{::title}, ~{::link}, ~{::body/content()})}"
>
<head>
<meta charset="UTF-8">
<title>あ2ちゃんねる-スレ</title>
<link />
</head>
<body>
	<div th:replace="~{layout/header :: header}" class="w-100"></div>
	<div class="row m-0">
		<div th:replace="~{layout/leftSidebar :: leftSidebar}"></div>
	<div class="col-md-8 m-0 p-0">
		<h1><a href="">戻る</a>スレッド名</h1>
		<div class="w-75 detail">
			<div class="w-100">
				<ul class="">
					<li>日付</li>
					<li>ユーザー名</li>
					<li>フォロー</li>
					<li><a href="">ブロック</a></li>
				</ul>
				<p>コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント</p>
			</div>
		</div>
		<div class="comment">
			<div class="w-100">
				<ul class="">
					<li>日付</li>
					<li>ユーザー名</li>
					<li>フォロー</li>
					<li><a href="">ブロック</a></li>
				</ul>
				<p>コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント</p>
			</div>
			<div class="w-100">
				<ul class="">
					<li>日付</li>
					<li>ユーザー名</li>
					<li>フォロー</li>
					<li><a href="">ブロック</a></li>
				</ul>
				<p>コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント</p>
			</div>
			<div class="w-100">
				<ul class="">
					<li>日付</li>
					<li>ユーザー名</li>
					<li>フォロー</li>
					<li><a href="">ブロック</a></li>
				</ul>
				<p>コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント</p>
			</div>
		</div>
			<div>
				<form action="">
					<label for="thredComment">コメント</label>
					<input type="text" id="thredComment">
					<button>送信</button>
				</form>
			</div>
	</div>
	<div th:replace="~{layout/rightSidebar :: rightSidebar}"></div>
	</div>

</body>
</html>